@font-face {
    font-family: 'Rubik';
    src: url('rubik/Rubik-Light.eot?#iefix') format('embedded-opentype'),
         url('rubik/Rubik-Light.woff2')      format('woff2'),
         url('rubik/Rubik-Light.woff')       format('woff');
    font-weight: 300;
    font-style:  normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('rubik/Rubik-LightItalic.eot?#iefix') format('embedded-opentype'),
         url('rubik/Rubik-LightItalic.woff2')      format('woff2'),
         url('rubik/Rubik-LightItalic.woff')       format('woff');
    font-weight: 300;
    font-style:  italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('rubik/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
         url('rubik/Rubik-Regular.woff2')      format('woff2'),
         url('rubik/Rubik-Regular.woff')       format('woff');
    font-weight: 400;
    font-style:  normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('rubik/Rubik-Italic.eot?#iefix') format('embedded-opentype'),
         url('rubik/Rubik-Italic.woff2')      format('woff2'),
         url('rubik/Rubik-Italic.woff')       format('woff');
    font-weight: 400;
    font-style:  italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('rubik/Rubik-Medium.eot?#iefix') format('embedded-opentype'),
         url('rubik/Rubik-Medium.woff2')      format('woff2'),
         url('rubik/Rubik-Medium.woff')       format('woff');
    font-weight: 500;
    font-style:  normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('rubik/Rubik-MediumItalic.eot?#iefix') format('embedded-opentype'),
         url('rubik/Rubik-MediumItalic.woff2')      format('woff2'),
         url('rubik/Rubik-MediumItalic.woff')       format('woff');
    font-weight: 500;
    font-style:  italic;
}

@font-face {
    font-family: 'Rubik';
    src: url('rubik/Rubik-Bold.eot?#iefix') format('embedded-opentype'),
         url('rubik/Rubik-Bold.woff2')      format('woff2'),
         url('rubik/Rubik-Bold.woff')       format('woff');
    font-weight: 700;
    font-style:  normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('rubik/Rubik-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('rubik/Rubik-BoldItalic.woff2')      format('woff2'),
         url('rubik/Rubik-BoldItalic.woff')       format('woff');
    font-weight: 700;
    font-style:  italic;
}

@font-face {
    font-family: 'Space';
    src: url('space/SpaceMono-Regular.eot?#iefix') format('embedded-opentype'),
         url('space/SpaceMono-Regular.woff2')      format('woff2'),
         url('space/SpaceMono-Regular.woff')       format('woff');
    font-weight: 400;
    font-style:  normal;
}
